# Part 1

In [71]:
import pandas as pd
import numpy as np

In [72]:
# Original table from Wikipedia
wiki_table = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
wiki_table.head()

,0,1,2,3,4,5,6,7,8
0,M1ANot assigned,M2ANot assigned,M3ANorth York(Parkwoods),M4ANorth York(Victoria Village),M5ADowntown Toronto(Regent Park / Harbourfront),M6ANorth York(Lawrence Manor / Lawrence Heights),M7ADowntown Toronto(Queen's Park / Ontario Pro...,M8ANot assigned,M9AEtobicoke(Islington Avenue)
1,M1BScarborough(Malvern / Rouge),M2BNot assigned,M3BNorth York(Don Mills)North,M4BEast York(Parkview Hill / Woodbine Gardens),"M5BDowntown Toronto(Garden District, Ryerson)",M6BNorth York(Glencairn),M7BNot assigned,M8BNot assigned,M9BEtobicoke(West Deane Park / Princess Garden...
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M2CNot assigned,M3CNorth York(Don Mills)South(Flemingdon Park),M4CEast York(Woodbine Heights),M5CDowntown Toronto(St. James Town),M6CYork(Humewood-Cedarvale),M7CNot assigned,M8CNot assigned,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3,M1EScarborough(Guildwood / Morningside / West ...,M2ENot assigned,M3ENot assigned,M4EEast Toronto(The Beaches),M5EDowntown Toronto(Berczy Park),M6EYork(Caledonia-Fairbanks),M7ENot assigned,M8ENot assigned,M9ENot assigned
4,M1GScarborough(Woburn),M2GNot assigned,M3GNot assigned,M4GEast York(Leaside),M5GDowntown Toronto(Central Bay Street),M6GDowntown Toronto(Christie),M7GNot assigned,M8GNot assigned,M9GNot assigned

In [73]:
# Convert from wide to long format
melted_table = pd.melt(wiki_table)[['value']]
melted_table.head()

                                               value
0                                    M1ANot assigned
1                    M1BScarborough(Malvern / Rouge)
2  M1CScarborough(Rouge Hill / Port Union / Highl...
3  M1EScarborough(Guildwood / Morningside / West ...
4                             M1GScarborough(Woburn)

## Formatting

In [78]:
# Remove "Not Assigne" rows
df = melted_table[~melted_table.value.str.contains("Not assigned")]
df.head()

                                               value
1                    M1BScarborough(Malvern / Rouge)
2  M1CScarborough(Rouge Hill / Port Union / Highl...
3  M1EScarborough(Guildwood / Morningside / West ...
4                             M1GScarborough(Woburn)
5                          M1HScarborough(Cedarbrae)

In [79]:
# Extract postal code
df['PostalCode'] = df['PostalCode'] = df['value'].str[:3]
# could also have used -> 
df.head()

/Users/victor/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                               value PostalCode
1                    M1BScarborough(Malvern / Rouge)        M1B
2  M1CScarborough(Rouge Hill / Port Union / Highl...        M1C
3  M1EScarborough(Guildwood / Morningside / West ...        M1E
4                             M1GScarborough(Woburn)        M1G
5                          M1HScarborough(Cedarbrae)        M1H

In [80]:
# Extract Borough
df['Borough'] = df['value'].str.slice(3)

# Split Borough at '(', resulting in two columns since we use expand=True
df[['Borough','Neighborhood']] = df['Borough'].str.split(pat="(",n=1,expand=True)
df.head()

/Users/victor/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,value,PostalCode,Borough,Neighborhood
1,M1BScarborough(Malvern / Rouge),M1B,Scarborough,Malvern / Rouge)
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek)
3,M1EScarborough(Guildwood / Morningside / West ...,M1E,Scarborough,Guildwood / Morningside / West Hill)
4,M1GScarborough(Woburn),M1G,Scarborough,Woburn)
5,M1HScarborough(Cedarbrae),M1H,Scarborough,Cedarbrae)

In [81]:
# drop value colum
df = df.drop(columns='value')
df.head()

  PostalCode      Borough                               Neighborhood
1        M1B  Scarborough                           Malvern / Rouge)
2        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek)
3        M1E  Scarborough       Guildwood / Morningside / West Hill)
4        M1G  Scarborough                                    Woburn)
5        M1H  Scarborough                                 Cedarbrae)

In [87]:
# Split at "/" and format Neighborhood
df['Neighborhood'] = df['Neighborhood'].str.replace(')','')
neighborhoods = df['Neighborhood'].str.split('/',expand=True)
neighborhoods.head()

,0,1,2,3,4,5,6,7,8
1,Malvern,Rouge,None,None,None,None,None,None,None
2,Rouge Hill,Port Union,Highland Creek,None,None,None,None,None,None
3,Guildwood,Morningside,West Hill,None,None,None,None,None,None
4,Woburn,None,None,None,None,None,None,None,None
5,Cedarbrae,None,None,None,None,None,None,None,None

In [93]:
# We need to add expanded neghborhoods to our original df
df = pd.concat([df,neighborhoods],axis=1)
df.head()

,PostalCode,Borough,Neighborhood,0,1,2,3,4,5,6,7,8
1,M1B,Scarborough,Malvern / Rouge,Malvern,Rouge,None,None,None,None,None,None,None
2,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,Rouge Hill,Port Union,Highland Creek,None,None,None,None,None,None
3,M1E,Scarborough,Guildwood / Morningside / West Hill,Guildwood,Morningside,West Hill,None,None,None,None,None,None
4,M1G,Scarborough,Woburn,Woburn,None,None,None,None,None,None,None,None
5,M1H,Scarborough,Cedarbrae,Cedarbrae,None,None,None,None,None,None,None,None

In [94]:
# Need to convert neighborhoods from wide to long format
df = df.drop(columns=['Neighborhood'])
df = df.melt(id_vars=['PostalCode','Borough'],value_name='Neighborhood').drop(columns=['variable'])
df.sample(10)

In [105]:
# Finally, we drop rows where neighborhood is None
df = df.dropna()
df.sample(10)

    PostalCode                Borough                    Neighborhood
163        M5K       Downtown Toronto                 Design Exchange
195        M8Z              Etobicoke             The Queensway West
40         M4J  East YorkEast Toronto               The Danforth East
188        M7A       Downtown Toronto   Ontario Provincial Government
2          M1E            Scarborough                      Guildwood
194        M8Y              Etobicoke               King's Mill Park
13         M1T            Scarborough                 Clarks Corners
180        M6J           West Toronto                         Trinity
154        M4X       Downtown Toronto                     Cabbagetown
88         M8V              Etobicoke                    New Toronto